.register{
    margin-left: 500px;
    margin-top: -10px;
    border: 1px solid black;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
    background-color:#c5eef3;
    font-size: 15px;
    
    
}

label{
    margin-left: 29px;
}

.r-gender{
    margin-left: 29px;
}

.hobbies input{
    margin-left: 29px;
}
.register-btn{
    width: 290px;
    height: 30px;
    border-radius: 10px;
    margin-left: 29px;
    background-color: #3DAFBB;
}

.register-btn:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color: #3DAFBB;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}
.heading{
    display: flex;
    justify-content: center;
}

.fields{
    width: 290px;
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-left: 29px;
}

.hobbies{
    padding: 10px;
}

.login{
    margin-left: 500px;
    margin-top: -10;
    border: 1px solid black;
    width: 350px;
    border-radius: 20px;
    padding: 15px;
    background-color:#c5eef3;
    font-size: 25px;
}

.heading{
    display: flex;
    justify-content: center;
}

.navbar{

    width: 100%;
    height: 45px;
    background-color: #3DAFBB;
    border: 1px solid black;
    font-size: 25px;
    color: black;
    display: flex;
    border-radius: 6px;
    gap: 15px;
    justify-content: right;
    z-index: 1;
}

.navbar a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 5px;
    justify-content: right;
}

.navbar a:hover{
    color: white;
    background-color: white;
    height: 30px;
    border-radius: 15px;
    gap: 15px;
    padding: 4px;
    margin: 4px;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #D5DEEF, #628ecb);
	background: linear-gradient(to right, #D5DEEF, #628ecb);
}

body{
    background: -webkit-linear-gradient(to right, #BDE1CC, #98e8f1);
    background: linear-gradient(to right, #BDE1CC, #98e8f1);
}

.abc1{
    position: absolute;
    top: 12px;
    left: 15px;
    display: flex;
    width: 100px;
    height: 37px;
    padding: 0;
}



.box{
    height: 250px;
    width: 250px;
    top: 90px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 350px;
    z-index: 1;
    
}

.box img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box p{
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 160px;
    left: 100px;
    top: 134px;
}

.box button{
    position: absolute;
    width: 130px;
    padding: 5px;
    right: 160px;
    left: 58px;
    top: 210px;
    border: none;
    border-radius: 15px;
    background-color: #3DAFBB;
}


.box button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.box1{
    height: 250px;
    width: 250px;
    top: 90px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 650px;
    
}


.box1 img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box1 p{
    position: absolute;
    left: 100px;
    right: 160px;
    top: 135px;
}

.box1 button{
    position: absolute;
    padding: 5px;
    width: 130px;
    right: 160px;
    left: 58px;
    top: 210px;
    border-radius: 15px;
    border: none;
    background-color: #3DAFBB;
}

.box1 button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.box2{
    height: 250px;
    width: 250px;
    top: 90px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 950px;
    z-index: 1;
    
}

.box2 img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box2 p{
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 160px;
    left: 100px;
    top: 135px;
}

.box2 button{
    position: absolute;
    padding: 5px;
    width: 130px;
    right: 160px;
    left: 58px;
    top: 210px;
    border-radius: 15px;
    border: none;
    background-color: #3DAFBB;
}

.box2 button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.box3{
    height: 250px;
    width: 250px;
    top: 350px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 350px;
    z-index: 1;
    
}

.box3 img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box3 p{
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 160px;
    left: 100px;
    top: 135px;
}

.box3 button{
    position: absolute;
    padding: 5px;
    width: 130px;
    right: 160px;
    left: 58px;
    top: 210px;
    border-radius: 15px;
    border: none;
    background-color: #3DAFBB;
}

.box3 button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.box4{
    height: 250px;
    width: 250px;
    top: 350px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 650px;
    
}


.box4 img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box4 p{
    position: absolute;
    left: 100px;
    right: 160px;
    top: 135px;
}

.box4 button{
    position: absolute;
    width: 130px;
    padding: 5px;
    right: 160px;
    left: 58px;
    top: 210px;
    border-radius: 15px;
    border: none;
    background-color: #3DAFBB;
}

.box4 button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.box5{
    height: 250px;
    width: 250px;
    top: 350px;
    background-color: white;
    border-radius: 15px;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.9);
    left: 950px;
    z-index: 1;
    
}

.box5 img{
    position: absolute;
    height: 140px;
    width: 150px;
    top: 10px;
    left: 50px;
    border: 5px;
    border-radius: 7px;
}

.box5 p{
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 160px;
    left: 100px;
    top: 135px;
}

.box5 button{
    position: absolute;
    padding: 5px;
    width: 130px;
    right: 160px;
    left: 58px;
    top: 210px;
    border: none;
    border-radius: 15px;
    background-color: #3DAFBB;
}

.box5 button:hover{
    font-size: 15px;
    background-color: #d0d5ee;
    color:rgb(139, 139, 139);
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.c-main{
    position: absolute;
    top: 110px;
    left: 500px;
    width: 380px;
    height: 200px;
    padding: 20px;
    background-color:#c5eef3;
    border: 5px;
    border-radius: 15px;
}

.a-heading{
    position: absolute;
    top: 200px;
    left: 550px;
    
}

.uline{
    background-color: #3DAFBB;
    height: 3px;
    width: 120px;
    position: absolute;
    left: 635px;
    top: 80px;
}

.p-heading{
    position: absolute;
    top: 240px;
    left: 550px;
}


.home-h1{
    position: absolute;
    font-size: 60px;
    left: 450px;
    top: 190px;
}

.home-p{
    position: absolute;
    left: 560px;
    top: 290px;
}

.home-btn{
    position: absolute;
    left: 580px;
    top: 340px;
    width: 210px;
    height: 30px;
    border: 15px;
    border-radius: 15px;
    background-color: #3DAFBB;
    cursor: pointer;
}

.home-btn:hover{
    background-color: #d0d5ee;
    color: #3DAFBB;
    transition: 0.7s;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px rgba(0, 0, 0, 0.22);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
    background: -webkit-linear-gradient(to right, #a7c0ed, #5a85c2);
}

.service1{
    position: absolute;
    width: 300px;
    height: 93px;
    border: 15px;
    border-radius: 15px;
    background-color:#c7f9ff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    left: 210px;
    top: 190px;
} 

.service1 h2{
    justify-content: center;
    text-align: center;
}

.service1 p{
    text-align: center;
} 

.service2{
    position: absolute;
    width: 300px;
    height: 93px;
    border: 15px;
    border-radius: 15px;
    background-color:#c7f9ff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    left: 530px;
    top: 190px;
} 

.service2 h2{
    justify-content: center;
    text-align: center;
}

.service2 p{
    text-align: center;
}


.service3{
    position: absolute;
    width: 300px;
    height: 93px;
    border: 15px;
    border-radius: 15px;
    background-color:#c7f9ff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    left: 850px;
    top: 190px;
} 

.service3 h2{
    justify-content: center;
    text-align: center;
}

.service3 p{
    text-align: center;
}

.uline1{
    position: absolute;
    left: 570px;
    top: 80px;
}

.headingunderline{
    background-color: #3DAFBB;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 140px;
    left: 595px;
}